<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="ctr/method/argument" method="post">
    <input type="text" name="teacher.name" value="张三">
    <input type="text" name="teacher.age" value=88>
    <input type="text" name="teacher.date" value="2014---09---04 05:23:00">
    <input type="text" name="teacher.love" value="乒乓球">
    <input type="text" name="teacher.love" value="篮球">
    <br><br>
    <input type="text" name="teacher.car.brand" value="BaoMa">
    <input type="text" name="teacher.car.price" value="400000.0">
    <br><br>
    <input type="text" name="teacher.car.brand" value="Jeep">
    <input type="text" name="teacher.car.price" value="400000.0">
    <br><br>
    <input type="text" name="student.name" value="李四">
    <input type="text" name="student.age" value=89>
    <input type="text" name="student.date" value="2014---09---05 05:23:00">
    <input type="text" name="student.love" value="羽毛球,台球">
    <br><br>
    <input type="submit" value="提交">
</form>

</body>
</html>